build/
log/
install/
CMakeCache.txt
CMakeFiles/
FEIStyle-master/example.acn
FEIStyle-master/example.aux
FEIStyle-master/example.bcf
FEIStyle-master/example.fdb_latexmk
FEIStyle-master/example.fls
FEIStyle-master/example.glo 
FEIStyle-master/example.ist
FEIStyle-master/example.loa
FEIStyle-master/example.lof
FEIStyle-master/example.log
FEIStyle-master/example.lol
FEIStyle-master/example.lot
FEIStyle-master/example.out
FEIStyle-master/example.pri
FEIStyle-master/example.run.xml
FEIStyle-master/example.toc
FEIStyle-master/fei.sublime-project
FEIStyle-master/latexmkrc
FEIStyle-master/LICENSE
FEIStyle-master/CHANGELOG.md
FEIStyle-master/example_paper.pdf
FEIStyle-master/example_URK.pdf